:host {
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.post-image {
  width: 100%;
}

.post-image img {
  display: block;
  width: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}

.searchButton {
  margin-bottom: 30px;
  margin-top: 30px;
}

mat-form-field,
input {
  width: 100%
}
